@import url('https://fonts.googleapis.com/css?family=Play');

body{
	font-size: 1em;
	font-family: 'Play', sans-serif;
	overflow: hidden;
	}

*{
	box-sizing: border-box;
	}
/* This is for the main page*/
.particles {
	position: absolute;
	width: 100%;
	background: transparent;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

#main{
	display: block;
	width: 100%;
	height: 100vh;
	background: #fff url('../img/bg.png') no-repeat fixed center;
	background-size: cover;
}

#navigation{
	width: 100%;
	padding: 5px 80px;
	padding-bottom: 0;
	height: 70px;
	position: relative;
	z-index: 100;
}

#logo{
	height: 100%;
	border-right: 3px solid #000;
	border-left: 3px solid #000;
	opacity: 0.5;
	float: left;	
}

nav{
	float: right;
	height: 100%;
}

nav ul{
	height: 100%;
	padding-top: 10px;
}
nav ul li{
	cursor: pointer;
	display: inline-block;	
	padding: 10px;
	height: 40px;
	/*border: 3px solid #fff;*/
	width: 190px;
	opacity: 0.5;
	text-align: center;
	line-height: 30px;
	color: 	#fff;
	font-size: 1.3em;
	font-weight: bolder;
	text-transform: uppercase;
}

nav ul li:hover{
	opacity: 1;
}
.liner{
	width: 80%;
	margin: 20px auto;
	border: 0; 
 	height: 3px; 
  	background-image: -webkit-linear-gradient(left, transparent, #fff, transparent);
}

#name{
	color: #fff;
	text-align: center;
	font-size: 5em;
	font-weight: bolder;
	padding-top: 150px;
}

#main h2{
	color: #fff;
	text-align: center;
	font-size: 1.2em;
}

/*CSS for information page*/
#info{
	display: none;
	background: #fff;
	width: 100%;
	height: 100vh;
	color: #fff;
	position: relative;
	overflow-y: auto;
}

.page-header{
	width: 100%;
	height: 70px;
	background: #000;
	position: relative;
	padding: 5px 100px;
}

.title{
	font-weight:bolder;
	height: 70px;
	line-height: 65px;
	font-size: 2em;
	text-transform: uppercase;
}

.title-logo{
	height: 40px;
	width: 40px;
}

.close{
	font-size: 2em;
	position: absolute;
	right: 100px;
	top: 20px;
	cursor: pointer;
}

.tab{
	padding: 5px 100px;
	background: #000;
	width: 100%;
	height: 50px;
}

.tab ul{
	width: 100%;
	height: 45px;
}

.tab ul li{
	height: 100%;
	line-height: 45px;
	width: 50%;
	display: inline-block;
	margin-right: -4px;
	text-align: center;
	font-weight: bolder;
	cursor: pointer;
	border-top: 3px solid #000;
}

.clear{
	clear: both;
}
.active{
	background-color: #fff;
	color: #000;
}

#about{
	color: #000;
	display: block;
}

.box{
	width: 50%;
	float: right;
	padding: 40px 10px;
	padding-right: 100px;
}

.box:last-child{
	padding: 30px 10px;
	padding-left: 110px;
	padding-top: 40px;
}

.box p{
	text-align: justify;
	font-size: 1.2em;
	text-indent: 30px;
	padding-bottom: 10px;
}

.box h2{
	font-size: 1.5em;
	font-weight: bolder;
	padding: 10px 0;
}

.box ul{
	padding-left:20px;
	font-size: 1.1em;
}

.box ul li{
	padding-bottom: 5px;
}

#profile{
	display: block;
	margin: 30px auto;
	border-radius: 100%;
}

#contacts{
	color: #000;
	display: none;
}

.box h1{
    font-weight: bolder;
    font-size: 2em;
    padding-bottom: 20px;
    text-align: center;
}

input{
 width: 80%;
    height: 30px;
    margin: 0 auto;
    margin-bottom: 10px;
    display: block;
    font-size: 0.8em;
    border: 0px solid silver;
    border-radius: 5px;
    padding: 5px 10px;
    border-bottom: 2px solid silver;

}

input[type="submit"]{
	color: #fff;
	background: #000;
	border-color:#fff;
	box-shadow: #000 0px 3px 3px;
}

input:focus{
	outline: none;
	border-color: #000;
}

#social{
	font-size: 5em;
	text-align: center;
}
		 
/* works */
#works{
	width: 100%;
	height: 100vh;
	display: none;
	color: #fff;
	/*overflow: hidden;*/
}

#works .tab ul li{
	height: 100%;
	line-height: 45px;
	width: 33.33%;
	display: inline-block;
	margin-right: -4px;
	text-align: center;
	font-weight: bolder;
	cursor: pointer;
	border-top: 3px solid #000;
}

#ruby, #web, #others{
	width: 100%;
	padding: 30px 100px;
}

#web, #others{
	display: none;
}

.work-box{
	width: 33.33%;
	height: 350px;
	padding: 10px;
	float: left;
	color: #000;
}

.work-box img{
	width: 100%;
	height: auto;
}

.work-box h1{
	font-size:1.2em;
	font-weight: bolder;
	text-align: center;
	padding-bottom: 10px;
}

.work-box p{
	font-size:1em;
	text-align: justify;
	padding-bottom: 10px;
}

.work-box a{
	width: 80%;
	display: block;
	padding: 5px;
	color: #fff;
	background: #000;
	box-shadow: #000 0px 3px 3px;
	border-bottom: 2px solid #fff;
	border-radius: 15px;
	text-align: center;
	margin: 0 auto;
	text-decoration: none;
	font-weight: bolder;
	text-transform: uppercase;
}