@media only screen and (max-width: 953px) and (min-height: 618px){
	#my-name h1{
		font-size: 4em;
	}
}

@media only screen and (max-width: 871px){
	.logo{
		width: 50%;
	}

	nav{
		width: 100%;
	}
}

@media only screen and (max-width: 923px){
	#my-name h1{
		font-size: 3em;
	}

	#my-name h2{
		font-size: 0.9em;
	}
}

@media only screen and (max-width: 1176px){
	.title{
		font-size: 1.5em;
	}

	.left{
		padding-left: 50px;
	}

	.right{
		padding-right: 50px;
	}
}


@media only screen and (max-width: 768px){

	.logo{
		width: 50%;
	}

	nav{
		width: 100%;
	}

	.left, .right{
		width: 100%;
		height: auto;
		margin-bottom: 30px;
		padding: 20px;
	}

	#about  img{
		display: block;
		margin: 0 auto;
	}

	#contacts .right{
		padding-top: 0px;
	}

	#my-name h1{
		font-size: 3em;
	}

	#my-name h2{
		font-size: 0.9em;
		padding: 0 10px;
	}

	.content{
		overflow-y: auto;
	}

	.box{
		display: block;
		width: 100%;
	}

}
@media only screen and (max-width: 570px){

	#contacts p{
		width: 100%;
		padding: 30px;
	}
	#my-name h1{
		font-size: 2.5em;
	}

	#my-name h2{
		font-size: 0.9em;
		padding: 0 10px;
	}

	#my-profile, #my-profile img{
		width: 200px;
	}

	#my-name{
	border: 0px solid rgba(255, 255, 255, 0.5);
	}

	nav a{
		font-size: 2em;
	}

	.skill-box{
		width: 50px;
		height: 50px;
	}

}

@media only screen and (max-height: 414px){
	#my-name h1{
		font-size: 2.5em;
	}
	#my-profile, #my-profile img{
		width: 150px;
	}

	nav{
		width: 100%;
	}

	nav a{
		font-size: 1.5em;
	}

	.logo{
		width: 40%;
	}
}

@media only screen and (max-height: 375px){
	#my-name h1{
		font-size: 2.5em;
	}

	#my-name h2{
		font-size: 0.7em;
	}
	#my-profile, #my-profile img{
		width: 150px;
	}

	nav{
		width: 100%;
	}

	nav a{
		font-size: 1.5em;
	}

	.logo{
		width: 40%;
	}
}

@media only screen and (max-height: 320px){
	#my-name h1{
		font-size: 1.5em;
	}

	#my-name h2{
		font-size: 0.5em;
	}
	#my-profile, #my-profile img{
		width: 100px;
	}

	nav{
		width: 100%;
	}

	nav a{
		font-size: 1.5em;
	}

	.logo{
		width: 40%;
	}
}





@media only screen and (max-height: 618px){
	.content{
		overflow-y: auto;
	}
}