@import url('https://fonts.googleapis.com/css?family=Play');

		body{
			font-size: 1em;
			font-family: 'Play', sans-serif;
			/*overflow: hidden;*/
		}

		*{
			box-sizing: border-box;
		}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 150px;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
		/* Header */
.my-header {
	position: absolute;
	/*display: none;*/
	width: 100%;
	/*background: #333;*/
	/*overflow: hidden;*/
	background-size: cover;
	background-position: center center;
	z-index: 1;
}



		  @keyframes blink {
      0% {padding-top: 0px;}
      100% {padding-top: 3px;}
    }
 
       

		.arrow-down{

			width: 30px;
			/*border: 1px solid #fff;*/
			/*border-radius: 40px;*/
			margin: 0 auto;
        animation-name: blink;
        animation-duration: 0.8s;
        animation-iteration-count: infinite;
        animation-delay: 0s;
        animation-timing-function: ease-in-out;
        /*position: absolute;*/
		}

		#arrow{
					display: none;
					position:relative;
					z-index: 80;
			width: 30px;
			height:33px;
			margin: 0 auto;
		}

		.container{
			width: 100%;
			max-width: 	1000px;
			position: relative;
		}

		#header{
			display: none;
			width: 100%;
			height: 100vh;
			padding-left:10px;
			padding-right:10px;
			background-image: url('../img/bg2.png');
			background-position: center;
			background-size: cover;
			position: relative;
			overflow: hidden;
		}

		#name{
			font-size: 4em;
			font-weight: bolder;
			text-align: center;
			margin-top:10px;
			color: #fff;
/*			height: 150px;
			line-height: 150px;*/
			padding-bottom: 15px;
			z-index: 80;
			position: relative;
			/*background-color: #000;*/
		}

		#my-profile{
			width: 250px;
			margin: 0 auto;
			position: relative;
			z-index: 80;
		}
		#profile{
			width: 250px;
			height: 250px;
			/*max-width: 100%;*/
			border-radius: 150px;
			border: 3px solid #fff;
		}


		.close, .close-x, .close-m{
			cursor: pointer;
			position: absolute;
			right: 15px;
			z-index: 1000;
			top: 13px;
			font-size: 1.2em;
			color: #fff;
			/*border: 1px solid #fff;*/
			width: 25px;
			line-height: 	30px;
			height: 	25px;
			/*border-radius: 	20px;*/
			text-align: center;

		}

		.close-x{
			border: 1px solid #fff;

			width: 30px;
			line-height: 	25px;
			height: 	30px;
			font-size: 1.5em;
		}

		.close-m{
			display: none;
		}

		.close-black{
			cursor: pointer;
			position: absolute;
			right: 50px;
			top: 50px;
			font-size: 1.2em;
			color: #000;
			border: 1px solid #000;
			width: 25px;
			line-height: 	25px;
			height: 	25px;
			border-radius: 	20px;
			text-align: center;

		}



		#about-link{
			display: block;
			text-align: center;
			width: 200px;
			font-weight: bolder;
			height: 40px;
			line-height: 40px;
	/*		background-color: #000;*/
			border: 2px solid #fff;
			color: #fff;
			text-decoration: none;
			margin: 0 auto;
			opacity: 0.3;
			position: relative;
			z-index: 80;


		}

		#about-link:hover{
			opacity: 1;
		/*	background-color: #fff;
			color: #000;	*/		
		}

		.logo{
			margin-left: 10%;
			width: 80px;
			height: 95px;
			padding-top: 15px;
			border: 5px solid #000;
			background-color: #000;
			position: relative;
			z-index: 800;
		}

		#navigation{
			width: 100%;
			position: fixed;
			bottom: 0;
			left:0;
				/*background-color: #000;*/
				padding-top:10px;
			z-index: 80;
		}

		nav{
			width: 40%;
			margin: 0 auto;
			padding: 0 10px;
			/*background-color: #000;*/

		}


		nav a{
			float:left;
			display: block;
			font-weight: bolder;
			width: 100px;
			min-width: 50%;
			height: 40px;
			line-height: 40px;
			background-color: #fff;
			color: #000;
			text-decoration: none;
			text-align: center;
			border: 3px solid #000;
			/*margin-right: 5px;*/
			border-bottom-style: none;
		}

		.container{
			width: 100%;
			max-width: 1000px;
			position: relative;
			margin: 0 auto;
		}

		#about{
			display: none;
			width: 100%;
			height: 100vh;
			position:absolute;
			z-index: 1000;
			top:0;
			background-color: black;
		}

		.clear{
			clear: both;
		}

		#left{
			float: left;
			width: 0%;
			height: 100vh;
			background-color: #fff;
			color: #000;
			padding: 10px;
			padding-right: 30px;
			overflow: hidden;
				/*background-color: #000;*/
		background-image: url('../img/abstract.png');
		background-size: cover;
		background-position: center;
		
		}

		#left h1{
			font-size: 2em;
			margin-top: 50px;
			margin-left: 30px;
		}

		#left h2{
			font-size: 1.5em;
			margin-top: 40px;
			margin-left: 30px;			
		}

		#left p{
			margin-left: 50px;
/*			margin-right: 5px;*/
			padding-top:15px;			
		}

		#left .what-up{
			margin-left: 50px;
			margin-top: 20px;
			list-style-type: disc;
	
		}

		#left #social{

			width: 50%;
			list-style-type: none;
			/*padding-left: 35px;*/
			margin: 0 auto;
			/*border: 1px solid red;*/
			margin-top: 20px;
		}

		#left #social li{
			display: inline-block;
			/*margin-right: 30px;*/
			width: 5%;
			/*height: 40px;*/
			/*color: #fff;*/
			/*background-color: #000;*/
		}

		#left #social .space{
			width:30%;
		}

		#left #social li a{
				color: #000;
				font-size: 2em;
		}

		#right{
			overflow: hidden;
			float: right;
			width: 0%;
			height: 100vh;
			background-color: #000;		
		}

		#right p{
			text-align: right;
			padding-right: 50px;

		}

		#right form{
			width: 60%;
			margin: 0 auto;
			margin-top: 100px;
		}

		#right label{
			font-size: 2em;
			color: #fff;
		}

		#right textarea{
			width: 100%;
			height: 70px;
			border-radius: 	3px;
			padding-left: 15px;	
			padding-top: 5px;	
			background-color: #000;
			color: #fff;
		}

		#right input{
			width: 100%;
			height: 30px;
			border: 0.1em solid silver;
			background-color: 	#000;
			border-radius: 	3px;
			padding-left: 15px;
			color: #fff;
		}
		#right .button{
			width: 100%;
			height: 30px;
			color: #fff;
			background-color: 	#000;
			border-radius: 	5px;
			border: 1px solid #fff;
		}

		#portfolio, #skills{
			width: 100%;
			color: #000;
			height: 0vh;
			padding: 10px;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 1000;
			display:none;
			background-color: rgba(255, 255, 255, 0.8);
			overflow: auto;
			z-index: 1000;
			overflow-x: hidden;
			/*background-position: fixed;*/
			/*background-attachment: fixed*/
		}


.box{
	width: 600px;
	/*margin: 0 auto;*/
	font-size: 1em;
	padding: 10px;
	padding-bottom: 0px;
	padding-top: 10px;
	/*background-color: #fff;*/
	/*border: 1px solid #fff;*/

}

/*#portfolio-info:not(:last-child){
	border-bottom: 1px solid red;
	border: 1px solid red;
}*/

.box img{
	float: left;
	width: 150px;
	height: 150px;
	max-width: 100%;
	/*border: 3px solid #000;*/
}

.box .des{
	float: left;
	padding-left: 15px;
	padding-top: 10px;
	text-align: justify;
}
.box .des p{
	/*width: 500px;*/
	width: 200px;
	max-width: 100%;
	margin-top: 10px;
	font-size: 0.9em;
	/*border: 1px solid red;*/
}

.box .des h1{
	font-size: 1em;
	font-weight: bolder;
}
.box a{
	clear: both;
	padding: 4px;
	background-color: #000;
	color: #fff;
	text-decoration: none;
}4
.move-down{
	/*padding-top: 100px;*/
}

hr{
	display: none;
	width: 100%;
	margin: 0;
	background-color: #000;
}

.title{
	font-size: 2em;
	color: #fff;
	background-color: #000;
	padding: 10px;
/*	padding-top: 100px;*/
	width: 100%;

}

.title{
	margin-bottom: 10px;
	height: 80px;
	padding-left: 25px;
	line-height: 60px;
}

.close-x{
	right: 35px;
	top: 35px;
}

#portfolio .title{
		margin-bottom: 0;
}

#skill-big-box{
	/*border: 1px solid red;*/
	width: 100%;
	margin: 0 auto
	margin-top: 300px;
	padding-left: 30px;
}
.skill-box{
	width:130px;
	padding-right: 15px;
	padding-bottom: 20px;
	float: left;
	/*height: 150px;*/
	/*border: 1px solid red;*/
}

.skill-box img{
	width: 100%;
	height: auto;
}

#portfolio-nav{
	display: none;
}
#portfolio-title{
	width: 100%;
	height:10px;
	display: block;
	position: relative;
}

#portfolio-title ul{
	width: 100%;
	margin: 0 auto;
	display: table;
}

#portfolio-title ul li{
	font-weight: bolder;
	padding: 5px 0;
	font-size: 1em;
	display: table-cell;
	height: 10px;
	width: 30%;
	background-color: #000;
	color: #fff;
	text-align: center;
	/*border: 1px solid blue;*/
	/*margin-right: 5%;*/
}

#portfolio-title ul li:not(:last-child){
	border-right: 2px solid #fff;
}


#ruby, #web, #other{
	float: left;
	width: 30%;
	padding-top: 30px;
	/*border-right: 1px solid red;*/
}
#ruby{
	margin-left: 10px;
}
#ruby, #web{
		margin-right: 50px;
}

hr{
	width: 300px	;
	margin: 0 auto;
}

#footer{
	opacity: 0.4;
	position: absolute;
	bottom: 5px;
	left: 10px;
	font-size: 0.7em;
	color: #fff;
	/*border: 1px solid red;*/
	width: 200px;
	display: none;

}

#footer p{
	width: 200px;
	line-height: 20px;
	padding-left: 25px;
	/*font-size: 2em;*/
}


#footer img{
	width: 20px;
	height: 20px;
	float: left;
}

#footer .hide{
	display: none;
}

/*@media only screen and (min-height: 320px){
		#profile{
	width: 100%;
	height: auto;
		

}
#my-profile{
	width: 150px;
	height: 150px;
	margin: 0 auto;	
	
}

#name{
	font-size: 1.5em;
}
}*/

@media only screen and (max-width: 414px) {
		#name{
		font-size: 2em;
	}
}

/*@media only screen and (min-width: 1024px) {
	nav a{
		font-size: 20px;
	}
}*/

@media only screen and (max-width: 1024px) {

body{
	overflow: auto;
}

#arrow{
	display: block;
}

.close-x{
	display: none;
}
#profile{
	width: 50%;
	height: 50%;
}
/*	#header{
		display: none;
	}*/


	#my-profile{
			width: 50%;
			height:auto;
			margin: 0 auto;
			/*border: 1px solid red;*/

		}

	#my-profile{
		margin-top: 70px;
	}

	#profile{
		width: 100%;
		border-radius: 100%;
	}


		.logo{
			width: 55px;
			height: 70px;
			padding-top: 15px;
			border: 5px solid #000;
			background-color: #000;
		}

			nav{
			width: 100%;
			margin: 0 auto;
			padding: 0 10px;

		}

	#about{
		display: block;
		position: relative;
		z-index: 800;
		height: auto;
	}

	.close{
		display: none;
	}

	#navigation{
/*		position: absolute;
		bottom: 0;*/
		z-index: 1;
	}


	#left{
		width: 100%;
		position: relative;

	}

	#right{
		width: 100%;
				position: relative;
	}

	#about-link{
		display: none;
	}

	.box{
	width: 100%;
	font-size: 1em;
	padding-bottom: 10px;
	padding-top: 10px;
	

}


.box img{
	float: left;
	width: 150px;
	height: 150px;
/*	padding-left: 15px;*/

}

.box .des{
	float: left;
	padding-left: 0px;
}
.box .des p{
	/*width: 500px;*/
	width: 100%;
	margin-top: 10px;
	text-align: justify;
	font-size: 1.1em;
}

hr{ display: block; }

.box .des h1{
	font-size: 1.5em;
}
.box a{
	clear: both;
	padding: 8px;
	background-color: #000;
	color: #fff;
	text-decoration: none;
}

#skill-big-box{
	width: 100%;
	padding-left:10px;

}
.skill-box{
	width:20%;
}

.close-m{
	display: block;
}

		hr{
			width: 100%;
			margin: 0 auto;
		}

#portfolio-title{
	display: none;
}
#portfolio{
	height: auto;
}

#portfolio-nav{
	width: 100%;
	height:10px;
	display: block;
	/*border: 1px solid red;*/
	position: relative;
}

#portfolio-nav ul{
	width: 100%;
	margin: 0 auto;
	display: table;
}

#portfolio-nav ul li{
	font-weight: bolder;
	padding: 5px 0;
	font-size: 1em;
	display: table-cell;
	height: 10px;
	width: 30%;
	background-color: #000;
	color: #fff;
	text-align: center;
	/*border: 1px solid blue;*/
	/*margin-right: 5%;*/
}

#portfolio-nav ul li:not(:last-child){
	border-right: 2px solid #fff;
}

#portfolio-nav ul li:first-child{
	background-color: rgba(255,255,255,0);
	color: #000;
}

#web, #other{
	display: none;
}

#ruby, #web, #other{
	padding-top: 30px;
	width: 100%;
}
#ruby{
	margin-left: 0px;
}

/*#ruby, #web, #other{
	float: left;
	width: 30%;
}*/

.title{
	padding: 20px;
	font-size: 1em;
}

#footer{
	opacity: 1;
	clear: both;
	position: relative;
	left: 0;
	bottom: 0;
	background-color: #000;
	font-size: 0.8em;
	color: #fff;
	width: 	100%;
	height: 100px;
	display: block;
	margin-left: 0;
	z-index: 1000;
	border-top: 15px solid #fff;
	padding-top: 20px;
}

#footer p{

	width: 150px;
	line-height: 15px;
	padding-left: 10px;
	text-align: left;
	/*border: 1px solid red;*/
}

.copy{
	float: left;
}

#footer img{
	float: left;
	width: 50px;
	height: 50px;
	margin-left: 25px;
}

#footer .hide{
	display: block;
}

.title{
	margin-bottom: 10px;
	height: auto;
	padding-left: 10px;
	line-height: 0px;
}
/*.footer-logo{
	width: 30px;
	margin: 0 auto;
}*/

}

@media only screen and (min-width: 1024px) and (max-height: 1024px) and (max-height: 768px){
	#profile{
	width: 100%;
	height: auto;
		/*padding-top: 150px;*/

}
#my-profile{
	width: 250px;
	height: 250px;
	margin: 0 auto;	
	/*border: 1px solid red;*/
}
}

@media (max-height: 414px) and (max-width: 736px){
		#right, #left{
		height: 120vh;
	}

	#profile{
	width: 100%;
	height: auto;
		/*padding-top: 150px;*/

}
#my-profile{
	width: 150px;
	height: 150px;
	margin: 0 auto;	
	/*border: 1px solid red;*/
}
#name{
	font-size: 2em;
}
}

/*for landscape*/
@media (max-height: 375px) and (max-width: 667px){

	#right, #left{
		height: 150vh;
	}
	#profile{
	width: 100%;
	height: auto;
		/*padding-top: 150px;*/

}
#my-profile{
	width: 150px;
	height: 150px;
	margin: 0 auto;	
	/*border: 1px solid red;*/
}
#name{
	font-size: 1.8em;
}
}

@media (max-height: 320px) and (max-width: 568px){

	#right, #left{
		height: 150vh;
	}
	#profile{
	width: 100%;
	height: auto;
		/*padding-top: 150px;*/

}
#my-profile{
	width: 100px;
	height: 100px;
	margin: 0 auto;	
	/*border: 1px solid red;*/
}
#name{
	font-size: 1.6em;
}


}

@media (max-height: 360px) and (max-width: 640px){

	#right, #left{
		height: 150vh;
	}

}

@media (max-height: 412px) and (max-width: 732px){

	#right, #left{
		height: 150vh;
	}

}

